.Second {
  margin-left: 7%;
  margin-right: 7%;
  border-right: solid black 5px;
  border-left: solid black 5px;
  border-radius: 12px;
  background-color: white;
}

ul{
    list-style: none;
    display: flex;
  gap: 14vh;
  justify-content: center;
  flex-wrap: wrap;
}

.img{
    width: 25vh;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.img:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ajoute une ombre pour un effet plus esthétique */
}

.feutre{
    margin-bottom: 15vh;
    
}

.graphique{
    margin-bottom: 30vh;
    
}

.title{
  margin-bottom: 15vh;
  font-size: 5vh;
  font-family: 'Patrick Hand', cursive;
}


  