.Second {
    margin-left: 7%;
  margin-right: 7%;
  border-right: solid black 5px;
  border-left: solid black 5px;
  border-radius: 12px;
}

ul{
    list-style: none;
    display: flex;
  gap: 14vh;
  justify-content: center;
  flex-wrap: wrap;
}

.img{
    width: 25vh;
}

.feutre{
    margin-bottom: 30vh;
    
}

.graphique{
    margin-bottom: 30vh;
    
}

.title{
    margin-bottom: 15vh;
  font-size: 5vh;
}