.Second {
    margin-left: 7%;
  margin-right: 7%;
  border-right: solid black 5px;
  border-left: solid black 5px;
  border-radius: 12px;
}

ul{
    list-style: none;
    display: flex;
  gap: 14vh;
  justify-content: center;
}